section#portfolio
  header
    h1.title Featured Work
  div.portfolio
    mixin portfolio-item
      .portfolio-item
        a.link(style=attributes.src ? {'background-image': 'url(' + attributes.src + ')'} : '' href=attributes.link)
          .details
            h2.title #{attributes.company} #{attributes.title}
        .bottom
          p.brief= attributes.brief
          a.read-more(href=attributes.link) read more

    each item in site.portfolio
      +portfolio-item(
        src=item.image
        link=item._url
        title=item.title
        brief!=item.brief
        company=item.company)
