section#portfolio
  header
    h1 Featured Work
    // p Some of my best work
    p
  div.portfolio
    - var modalCount = 0;
    mixin portfolio-item
      a.portfolio-item(style=attributes.src ? {'background-image': 'url(' + attributes.src + ')'} : '' href='#modal-' + modalCount)
        .top.line
        .bottom.line
        .left.line
        .right.line
        .details
          h2.title #{attributes.company} #{attributes.title}
      .modal--show(tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" id='modal-' + modalCount data-cssmodal-stretch)
        .modal-inner
          header#modal-label
          .modal-content
            img(src=attributes.src)
            div
              h2.jobname= attributes.title
                small &nbsp;for&nbsp;
                  em= attributes.company
              if attributes.liveLink
                .live-link
                  a(href=attributes.liveLink) View Live
            .details
              block
        a.modal-close(href="#!" title="Close this modal" data-close="Close" data-dismiss="modal") ?
      - modalCount += 1;

    +portfolio-item(
      src='https://imgur.com/6DSAn9a.png'
      title='Store'
      company='Fiftee'
      liveLink='http://fiftee.co')
        p I build a store for Fiftee on Shopify
    +portfolio-item(
      src='http://i.imgur.com/8LKacjS.png'
      title='Community'
      company='The Chunk'
      liveLink='http://thechunk.net/')
      .desc
        h4.title Description
        p Integrated forum login and theme. Built helper application sorter, player stat viewer, game browser, admin panel, and social integrations.
      .features
        h4.title Technologies used
        ul.features-list
          li Vanilla Forums
          li Hapi.js on io.js
          li CSS with Stylus
          li Gulp build system
          li Jade html templating
    +portfolio-item(
      src='https://static.pexels.com/photos/3644/pizza-restaurant-dinner-lunch-large.jpg'
      title='Store'
      company='Milano Pizza')
        .desc
          h4.title Description
          p Ecommerce store was extended to orders for delivery & collection. Payment could be taken in cash or paypal. Orders went to tablet in kitchen.
        .features
          h4.title Technologies used
          ul.features-list
            li Wordpress
            li PHP
            li Woocommerce
            li REST API implementation
            li GCM Android notifications
    +portfolio-item(
      src='http://i.imgur.com/x0KfmMi.jpg'
      title='Digital Board'
      company='Creative Honour Boards')
        .desc
          h4.title Description
          p Digital tablet honour board. Automatic app update feature. Admin panel to insert board data. API for mobile application. Excel data import.
        .features
          h4.title Technologies used
          ul.features-list
            li Django
            li Python
            li ZeroMQ
            li APK parser
            li REST API implementation
            li (Prototype) Node.js, React, MongoDB
    +portfolio-item(
      src='http://i.imgur.com/t3vkJHq.png'
      title='Server store'
      company='Dedioutlet'
      liveLink='http://example.com')
      p Dedioutlet required a new website to advertise their servers. I emphasised a low page loading time which has been shown to boost sales, to do this I strictly avoided dependencies, and used Gulp to automatically reduce the size of all files.
    +portfolio-item(
      src='http://i.imgur.com/fY71HBx.png'
      title='Community'
      company='Island Clash')
        .desc
          h4.title Description
          p News from forum on homepage. Integrated forum theme to match website. Created home/about/wiki with custom layout.
        .features
          h4.title Technologies used
          ul.features-list
            li React.js
            li Discourse Forums
            li Gulp build
            li Browserify
            li Coffeescript
    +portfolio-item(
      src='http://i.imgur.com/DGbLy67.png'
      title='Site updates'
      company='Mineocity'
      liveLink='http://www.mineocityhosting.com/')
        .desc
          h4.title Description
          p Patched up existing site with new pages and increased maintainability. Created separate dev & production, preventing breaks in production.
        .features
          h4.title Technologies used
          ul.features-list
            li HTML
            li CSS
            li Git
