section#portfolio
  header
    h1 Featured Work
    // p Some of my best work
    p
  div.portfolio
    - var modalCount = 0;
    mixin portfolio-item
      a.portfolio-item(style=attributes.src ? {'background-image': 'url(' + attributes.src + ')'} : '' href='#modal-' + modalCount)
        .top.line
        .bottom.line
        .left.line
        .right.line
        .details
          h2.title #{attributes.company} #{attributes.title}
      .modal--show(tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" id='modal-' + modalCount data-cssmodal-stretch)
        .modal-inner
          header#modal-label
          .modal-content
            img(src=attributes.src)
            div
              h2.jobname= attributes.title
                small &nbsp;for&nbsp;
                  em= attributes.company
              if attributes.liveLink
                .live-link
                  a(href=attributes.liveLink) View Live
            .details
              block
        a.modal-close(href="#!" title="Close this modal" data-close="Close" data-dismiss="modal") ?
      - modalCount += 1;

    +portfolio-item(
      src='https://imgur.com/6DSAn9a.png'
      title='Store'
      company='Fiftee'
      liveLink='http://fiftee.co')
        .desc
          h4.title Description
          p Tweaked theme to match provided design. Created site plugin using Clojure, adding additional functionality.
        .features
          h4.title Technologies used
          ul.features-list
            li Shopify
            li Liquid templating
            li Clojure
            li REST API Consuming
            li OAuth2
    +portfolio-item(
      src='http://i.imgur.com/8LKacjS.png'
      title='Community'
      company='The Chunk')
      .desc
        h4.title Description
        p Integrated forum login and theme. Building helper application sorter, player stat viewer, game browser, admin panel, and social integrations.
        p
          small In development. Not live.
      .features
        h4.title Technologies used
        ul.features-list
          li Vanilla Forums
          li Hapi.js on io.js
          li CSS with Stylus
          li Gulp build system
          li Jade html templating
    +portfolio-item(
      src='https://static.pexels.com/photos/3644/pizza-restaurant-dinner-lunch-large.jpg'
      title='Store'
      company='Milano Pizza')
        .desc
          h4.title Description
          p Ecommerce store was extended to orders for delivery & collection. Payment could be taken in cash or paypal. Orders went to tablet in kitchen.
        .features
          h4.title Technologies used
          ul.features-list
            li Wordpress
            li PHP
            li Woocommerce
            li REST API implementation
            li GCM Android notifications
    +portfolio-item(
      src='http://i.imgur.com/x0KfmMi.jpg'
      title='Digital Board'
      company='Creative Honour Boards')
        .desc
          h4.title Description
          p Digital tablet honour board. Custom, automatic app update feature. Admin panel to manage board data. API for mobile application.
        .features
          h4.title Technologies used
          ul.features-list
            li Django
            li Python
            li ZeroMQ
            li APK parser
            li REST API implementation
            li (Prototype) Node.js, React, MongoDB
    +portfolio-item(
      src='http://i.imgur.com/t3vkJHq.png'
      title='Server store'
      company='Dedioutlet')
        .desc
          h4.title Description
          p Site to advertise servers. Integration with billing to get unsold servers. Emphasis on fast page loading time, by optimizing all files.
        .features
          h4.title Technologies used
          ul.features-list
            li Gulp
            li Stylus (Jeet, Nib)
            li Jade
            li Node.js (Cheerio) scraper
            li WHMCS
    +portfolio-item(
      src='http://i.imgur.com/fY71HBx.png'
      title='Community'
      company='Island Clash')
        .desc
          h4.title Description
          p News from forum on homepage. Integrated forum theme to match website. Created home/about/wiki with custom layout.
        .features
          h4.title Technologies used
          ul.features-list
            li React.js
            li Discourse Forums
            li Gulp build
            li Browserify
            li Coffeescript
    +portfolio-item(
      src='http://i.imgur.com/DGbLy67.png'
      title='Site updates'
      company='Mineocity'
      liveLink='http://www.mineocityhosting.com/')
        .desc
          h4.title Description
          p Patched up existing site with new pages and increased maintainability. Created separate dev & production, preventing breaks in production.
        .features
          h4.title Technologies used
          ul.features-list
            li HTML
            li CSS
            li Git
